.wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}
.username {
  font-weight: 700;
  color: black;
}
.exitBtn {
  background-color: lightgrey;
  color: black;
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 6px;
}
.exitBtn:hover,
.exitBtn:focus {
  background-color: red;
  border: 2px solid black;
}
